<div class="about hidden">
    <div class="outline-container">
        <div class="about-title">
            <h2>About Us</h2>
            <i class="about-x fa-solid fa-x"></i>
        </div>
        <div class="about-container">
            <ul class="about-container-cards">
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/rojhat.png);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Rojhat Balta</h3>
                    <p class="about-container-card-job">Team Lead</p>
                    </div>
                </li>
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/eren.png);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Eren Aydoğan</h3>
                    <p class="about-container-card-job">Scrum Master</p>
                    </div>
                </li>
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/masun.jpg);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Masun Kapçak</h3>
                    <p class="about-container-card-job">Developer</p>
                </div>
                </li>
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/cetin.jpeg);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Çetin Tertemiz</h3>
                    <p class="about-container-card-job">Developer</p>
                    </div>
                </li>
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/razan.jpeg);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Razan Almasri</h3>
                    <p class="about-container-card-job">Developer</p>
                    </div>
                </li>
                <li class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/bekir.jpg);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Bekir Duman</h3>
                    <p class="about-container-card-job">Developer</p>
                    </div>
                </li>
                <div class="about-container-card">
                    <div class="about-container-card-img" style="background-image: url(img/team/pinar.jpeg);"></div>
                    <div class="about-container-card-info">
                    <h3 class="about-container-card-name">Pınar </h3>
                    <p class="about-container-card-job">Developer</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>