<div class="movie2-container">
    <div class="movie2-container_selection">
        <select name="movie2-genre" id="movie2-genre">
            <option>Genre</option>
            <option value="romance">Romance</option>
            <option value="detective">Detective</option>
            <option value="thriller">Thriller</option>
            <option value="action">Action</option>
            <option value="documentary">Documentary</option>
            <option value="horror">Horror</option>
        </select>
    </div>
    <div class="movie2-container_movies">

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="movie2-container_movies-card">
            <img src="img/joker.jpg" alt="Joker" class="movie2-container_movies-card_img">
            <div class="movie2-container_movies-card_details">
                <h3 class="movie2-container_movies-card_details-title">GHOSTED</h3>
                <div class="movie2-container_movies-card_details-info">
                    <p class="movie2-container_movies-card_details-info_genre">
                        <span class="genre">Drama, Action</span>
                         | 
                        <span class="year">2023</span>
                    </p>
                    <div class="movie2-container_movies-card_details-info_rating">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>

        <button class="movie2-container_movies-btn">
            Load More
        </button>
    </div>
    <div class="movie2-container_no-movie">
        <h3 class="movie2-container_no-movie_error"><span>OOPS...</span><span>We are very sorry!</span><span>You don’t have any movies at your library.</span></h3>
        <a href="library" class="movie2-container_movies-btn">
            Search movie
        </a>
    </div>
</div>