<section class="movie_info_popup">
    <div class="movie_info_popup_container">
        <button class="model-close-button" type="button">
            <svg class="model-close-svg" width="10.5" height="10.5">
                <use href="../img/nav_bar_svg.svg#icon-close"></use>
            </svg>
        </button>
        <div class="movie_info_popup_img">
        </div>

        <div class="movie_info_popup_info">
            <div class="movie_info_popup_info_text">
                <h2 class="movie_info_popup_title">John Wick: Chapter 4</h2>
                <p class="movie_info_popup_description"><span
                        class="movie_info_popup_description_head">Vote/Votes</span><span
                        class="movie_info_popup_description_value"><span
                            class="movie_info_popup_description_value_vote">7.3</span>/<span
                            class="movie_info_popup_description_value_vote">1260</span></span>
                </p>
                <p class="movie_info_popup_description"><span
                        class="movie_info_popup_description_head">Popularity</span><span
                        class="movie_info_popup_description_value">100.2</span>
                </p>
                <p class="movie_info_popup_description"><span
                        class="movie_info_popup_description_head">Genre</span><span
                        class="movie_info_popup_description_value">Action Thriller Crime</span>
                </p>
                <p class="movie_info_popup_description_about_head">ABOUT</p>
                <p class="movie_info_popup_about">John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
                    the upcoming fourth instalment of the series. With
                    the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But
                    before he can earn his
                    freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces
                    that turn old
                    friends into foes.</p>
            </div>
            <button class="movie_info_popup_button">Add to my library</button>

        </div>


</section>