<section class="navbar">
    <div class="nav_bar_logo">
        <svg class="nav-bar-cine-logo-svg" width="45" height="36" aria-label="Cinemania Logo">
            <use href="../img/nav_bar_svg.svg#icon-cine_logo"></use>
        </svg>
        <a class="nav-bar-cine-logo-text" href="#">Cinemania</a>
    </div>
    <nav class="nav_bar_menu">
        <ul class="nav_bar_menu_list">
            <li><a class="nav_bar_menu_list_item" href="index.html">HOME</a></li>
            <li><a class="nav_bar_menu_list_item" href="catalog.html">CATALOG</a></li>
            <li><a class="nav_bar_menu_list_item" href="library.html">my library</a></li>
        </ul>

        <div class="nav_bar_mode">
            <label class="switch">
                <input type="checkbox" id="modeToggle" aria-label="Toggle Light/Dark Mode">
                <span class="slider">
                    <svg class="nav-bar-mode-svg-button" width="20" height="20" aria-label="Toggle Mode">
                        <use href="../img/nav_bar_svg.svg#icon-button"></use>
                    </svg>
                </span>
                <svg class="nav-bar-mode-svg-sun" width="20" height="20" aria-label="Light Mode">
                    <use href="../img/nav_bar_svg.svg#icon-sun"></use>
                </svg>
                <svg class="nav-bar-mode-svg-moon" width="20" height="20" aria-label="Dark Mode">
                    <use href="../img/nav_bar_svg.svg#icon-moon"></use>
                </svg>
            </label>
        </div>
    </nav>
</section>
<section class="navbar_mobile">
    <div class="nav_bar_logo">
        <svg class="nav-bar-cine-logo-svg" width="45" height="36" aria-label="Cinemania Logo">
            <use href="../img/nav_bar_svg.svg#icon-cine_logo"></use>
        </svg>
    </div>

    <nav class="nav_bar_menu">
        <p class="nav_bar_menu_list_item">MENÜ</p>
        <div class="nav_bar_mode">
            <label class="switch">
                <input type="checkbox" id="modeToggle" aria-label="Toggle Light/Dark Mode">
                <span class="slider">
                    <svg class="nav-bar-mode-svg-button" width="20" height="20" aria-label="Toggle Mode">
                        <use href="../img/nav_bar_svg.svg#icon-button"></use>
                    </svg>
                </span>
                <svg class="nav-bar-mode-svg-sun" width="20" height="20" aria-label="Light Mode">
                    <use href="../img/nav_bar_svg.svg#icon-sun"></use>
                </svg>
                <svg class="nav-bar-mode-svg-moon" width="20" height="20" aria-label="Dark Mode">
                    <use href="../img/nav_bar_svg.svg#icon-moon"></use>
                </svg>
            </label>
        </div>
    </nav>
</section>
<div class="model-menu">
    <div class="model-menu-content">
        <div class="nav_bar_menu_mobile">
            <div class="nav_bar_logo">
                <svg class="nav-bar-cine-logo-svg" width="45" height="36" aria-label="Cinemania Logo">
                    <use href="../img/nav_bar_svg.svg#icon-cine_logo"></use>
                </svg>
            </div>
            <div>
                <ul class="nav_bar_menu_list_mobile">
                    <li><a class="nav_bar_menu_list_item" href="index.html">HOME</a></li>
                    <li><a class="nav_bar_menu_list_item" href="catalog.html">CATALOG</a></li>
                    <li><a class="nav_bar_menu_list_item" href="library.html">my library</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>