@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background-color: #000000;
    --text-primary-color: #B7B7B7;
    --text-secondary-color: #FFFFFF;
    --linear-gradient-1: linear-gradient(90deg, #F84119, #F89F19);
    --linear-gradient-2: linear-gradient(90deg, #FFC226, #F84119);
    --highlight-color: #F87719;
  }
  
  html { 
  font-size: 10px;
  }
  
  body.light  -mode {
    --background-color: #FFFFFF;
    --text-primary-color: #595959;
    --text-secondary-color: #111111;
    --linear-gradient-1: linear-gradient(90deg, #F84119, #F89F19);
    --linear-gradient-2: linear-gradient(90deg, #FFC226, #F84119);
    --highlight-color: #F87719;
  }

  body {
    background-color: var(--background-color);
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }

  header,
  main,
  footer
  {
    width: 100%;
  }