.library-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.library-hero-text {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  z-index: 1;
  text-align: center;
  padding: 20px;
  background: transparent;
}

@media (max-width: 767px) {
  .library-hero-container {
    background-image: url('../img/HeroTwoMobile.png');
  }
  .library-header {
    font-size: 3.2rem;
    line-height: 1.17;
  }
  .library-text {
    font-size: 1.4rem;
    line-height: 1.17;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .library-hero-container {
    background-image: url('../img/HeroTwoMobile.png');
  }
  .library-header {
    font-size: 4.4rem;
    line-height: 1.17;
  }
  .library-text {
    font-size: 1.4rem;
    line-height: 1.17;
  }
}

@media (min-width: 1280px) {
  .library-hero-container {
    background-image: url('../img/HeroTwoDesktop.png');
  }
  .library-header {
    font-size: 6.5rem;
    line-height: 1.17;
  }
  .library-text {
    font-size: 1.6rem;
    line-height: 1.17;
  }
}
