/*Dekstop*/

.movie_info_popup {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 60rem;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 2rem;
}
.movie_info_popup_container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.movie_info_popup_img {
  background-image: url('../img/Film_afis_popup.png');
  width: 37.5%;
  height: 100%;
  display: flex;
  gap: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.movie_info_popup_info {
  width: 62.5%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.movie_info_popup_info_text {
  width: 100%;
}
.movie_info_popup_title {
  font-size: 3.2rem;
  line-height: 3.75rem;
  color: var(--text-secondary-color);
  padding-bottom: 2.5rem;
}
.movie_info_popup_description {
  width: 80%;
  display: flex;
  color: var(--text-secondary-color);
  padding-bottom: 1.5rem;
}
.movie_info_popup_description > span {
  display: flex;
  flex: 1;
}
.movie_info_popup_description_value_vote {
  color: var(--background-color);
  background-color: var(--text-secondary-color);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}
.movie_info_popup_description_head,
.movie_info_popup_description_value {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-primary-color);
}
.movie_info_popup_button {
  width: 14rem;
  height: 3em;
  background-color: var(--background-color);
  border-radius: 2rem;
  border: 0.1rem solid #f89f19;
  color: var(--text-secondary-color);
  font-size: 1rem;
}
.movie_info_popup_description_about_head {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-primary-color);
  padding-bottom: 1.5rem;
}
.movie_info_popup_about {
  width: 80%;
  display: flex;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-secondary-color);
}

.movie_info_popup_button:hover {
  background-color: var(--text-secondary-color);
  color: var(--highlight-color);
  border: 0.1rem solid var(--text-secondary-color);
}
.model-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: var(--background-color);
  border: none;
}
.movie_info_popup {
  display: none;
}

/* Tablet */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .movie_info_popup_img {
    width: 40%;
  }
  .movie_info_popup_info {
    width: 60%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .movie_info_popup {
    width: 80%;
    height: 85rem;
  }

  .movie_info_popup_container {
    top: 10%;
    left: 10%;
    flex-direction: column;
    width: 80%;
  }
  .movie_info_popup_img,
  .movie_info_popup_info {
    width: 100%;
  }
}
