

/* Movie1 */

.movie1-container {
  background-color: #000000;
  width: 100%;
  margin: 0 auto;
}




/* 1) Search Bar Block */


.movie1-searchbar {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.movie1-searchbar_form {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* İnput: Film & Select: Year & Search */


.movie1-searchbar_input_film,
.movie1-searchbar_select_year {
  border-radius: 0.8rem;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 0.1rem;
  padding: 1.2rem 26rem 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  height: 4.8rem;
  position: relative;
}

.movie1-search {
  background-color: #111111;
  color: var(--grey, #b7b7b7);
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.light-theme .movie1-searchbar_input_film {
  border-color: var(--grey-white-theme, #595959);;
}

body.light-theme .movie1-search {
  background-color: #f8f8f8;
  color: var(--grey-white-theme, #595959);
}

body.light-theme .movie1-searchbar_select_year {
  border: 0.1rem solid var(--grey-white-theme, #595959);
}


/* Hidden Clear Button in Film */

.movie1-searchbar_clear_button {
  box-sizing: border-box;
  /* flex-shrink: 0; */
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}

.movie1-searchbar_clear_button_hide {
  display: none;
}

.icon-clear_button {
  stroke: #f8f8f8;
}

.icon-clear_button:hover {
  stroke: #F87719;
}

body.light-theme .icon-clear_button {
  stroke: #282828;
}

body.light-theme .icon-clear_button:hover {
  stroke: #F87719;
}


/* Submit Button */

.movie1-movielist_submit_button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: var(--linear-gradient-1);
  border: none;
}

.movie1-movielist_submit_button i {
  color: white;
  font-size: 20rem;
  z-index: 20;
}



/* Mobile - Search Bar Block */

@media screen and (min-width:320px) {

  .movie1-searchbar {
    padding-bottom: 1.6rem;
    margin-bottom: 5rem;
  }

  .movie1-searchbar_form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 40px;
  }

  .search.light-theme {
    border: 1px solid #595959;
    color: var(--gray);
  }

  .movie1-searchbar_input_film {
    width: 173px;
    height: 40px;
    margin-right: 12px;
    padding-left: 24px;
    padding-right: 30px;

  }

  .movie1-searchbar_select_year {
    width: 95px;
    height: 40px;
    padding-left: 16px;
    padding-right: 15px;

  }

  input::placeholder {
    color: var(--light-gray);
    font-family: "Roboto-Medium", sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .movie1-searchbar_clear_button {
    top: 50%;
    left: 53%;
  }

  .movie1-searchbar_submit_button {
    width: 40px;
    height: 40px;
  }

  .movie1-searchbar_submit_button:hover,
  .movie1-searchbar_submit_button:focus {
    background: var(--white-smoke);
    border: 1px solid orangered;
    border-color: var(--orange);
  }
    
  .catalog-gallery-card {
    margin: auto;
    text-align: center;
  }

}

/* Tablet - Search Bar Block */

@media screen and (min-width:768px) {

  .movie1-searchbar {

    padding-bottom: 36px;
    margin-bottom: 0;
  }

  .movie1-searchbar_form {
    flex-wrap: nowrap;
    margin: auto;
    width: 548px;
    height: 44px;
  }

  .movie1-searchbar_input_film {
    width: 188px;
    height: 44px;
  }

  .movie1-searchbar_select_year {
    height: 44px;
    padding-left: 20px;
    margin-right: 12px;

  }

  .movie1-searchbar_clear_button {
    left: 28%;
  }

  .movie1-searchbar_submit_button {
    margin-top: 0;
    width: 44px;
    height: 44px;
  } 

}

/* Desktop - Search Bar Block */

@media screen and (min-width:1280px) {

  .movie1-searchbar {

    padding-bottom: 48px;
  }

  .movie1-search {

    font-size: 16px;

  }

  .movie1-searchbar_form {
    width: 795px;
    height: 48px;
  }

  .movie1-searchbar_input_film {
    margin-right: 20px;
    width: 315px;
    height: 48px;

  }

  .movie1-searchbar_select_year {
    height: 48px;

  }

  .movie1-searchbar_clear_button {
    left: 35%;
    right: 74px;
  }

  
  .movie1-searchbar_submit_button {
    width: 48px;
    height: 48px;
  } 

}





/* 2) Movie List Block */



.movie1-movielist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}

.movie1-movielist_container {
  position: relative;
  width: calc((100% - 6rem) / 3);
  /* width: 100%; */
  border-radius: 1rem;
  transition: all ease-in-out .3s;
  overflow: hidden;
  color: var(--text-secondary-color);
}

.movie1-movielist_container:hover {
  transform: scale(1.05);
}

.movie1-movielist_card_img {
  width: 100%; /* %100 vardı */
  /* height: 57.4rem; */
  border-radius: 5px;
  
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.movie1-movielist_card_details {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.movie1-movielist_card_title {
  font-size: 1.8rem;
  line-height: 1.17;
  padding: 0 2rem;
  margin-bottom: .5rem;
}

.movie1-movielist_card_info {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: .5rem;
}

.movie1-movielist_card_genre {
  font-size: 1.8rem;
  line-height: 1.17;
  color: var(--text-primary-color);
}

.movie1-movielist_card_rating i {
  color: var(--highlight-color);
}



@media only screen and (max-width: 1279px) {}

@media screen and (max-width: 767px) {
  .movie1-movielist {
    gap: 2;
  }

  .movie1-movielist_container {
    width: 100%;
  }

  .movie1-movielist_container:hover {
    transform: none;
  }
}

/* 3) Pagination Block */

.tui-pagination {
  height: 40px;
  margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 14px 0 0px;
  margin-left: 0;
  margin-right: 16px;
  color: var(--white);
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid var(--white);
}

body.light-theme .tui-pagination .tui-page-btn {
  border: 1px solid var(--orange);
  color: var(--black);
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--white);
  background: var(--liner);
  border-radius: 50%;
  cursor: default;
  border: none;
}

.tui-pagination .tui-page-btn:hover {
  background: var(--liner);
  border: none;
}

body.light-theme .tui-pagination .tui-page-btn:hover {
  color: var(--white);
}

.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 7px;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: none;
}

.tui-pagination .tui-prev {
  margin-right: 10px;
}

.tui-pagination .tui-ico-first {
  display: none;
  background: none;
  border: none;
}

.tui-pagination .tui-first {
  display: none;
  background: none;
  border: none;
}

.tui-pagination .tui-ico-last {
  display: none;
  background: none;
  border: none;
}

.tui-pagination .tui-last {
  display: none;
  background: none;
  border: none;
}
